<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1>
      <a href="/">Reddit Reader</a>
      <h3>
        Reading:
        {% for target in targetReddits %}
          r/{{target}}
        {% endfor %}
      </h3>
    </h1>
  </header>
  <main>
    {% for content in output %}
    <div>
      <h3>
        <a href="{{content.url}}" target="_blank">
          {{content.title}}</a>
      </h3>
      <h4>{{content.votes}} upvotes · {{content.reddit}}
      <hr>
    </div>
    {% endfor %}
  </main>
</body>

</html>